
.mea-sentence {
  
  &::before {
    content: '[';
  }
  &::after {
    content: ']';
  }
}

.mea-nonword {
  display:inline !important;
}

.mea-highlight {  
  position: relative;
  margin-top: 0px;
  text-indent: 0px;
  display: inline-block;
}

.mea-highlight { 
  &.mea-hide {
    &::after {
      visibility: hidden;
    }
  }

  &:hover, &.mea-hide:hover {
    &::after{
      background-color: white;
      border: solid 1px;
      opacity: 1;
      z-index: 99;
      visibility: visible;

      content: attr(data-footnote);
    }
  }

  &:not([data-parts='']) {
    &:hover, &.mea-hide:hover {
      &::after{
        content: attr(data-footnote) ' [' attr(data-parts) ']';
      }
    }
  } 
}




.mea-highlight::after {
  content: attr(data-footnote);
  position: absolute;
  width: max-content;
  line-height: normal;
  text-indent: 0px;
  
  white-space: nowrap;
  left: 0;
  top: -1.5em;
  font-size: 0.5em;
  color: grey;
  opacity: 0.5;
  visibility: hidden;
}


.mea-toolbar {
  position: absolute;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height:auto;
  background: white;
  text-align: center;
  color: black;
  z-index: 100;

}

.mea-toolbar-button {
  border: none;
  margin-right: 2px;
  padding:0px;
  padding-inline: none;
  background: white;

  
}

.mea-icon {
  width: 16px;
  height: 16px;

}

::highlight(user-1-highlight) {
  background-color: rgb(221, 195, 149);
  color: black;
}
#mea-vue-container * {
  all: revert;
}
#mea-vue-container {
  width: fit-content;
  height: fit-content;
  padding: 0px;
  #mea-vueapp-iframe {
    width: 300px;
    height: 596px;
    border: none;
  }

  #vue {
    width: 400px;
    
  }
}

  

  


