
.mea-highlight {
  position: relative;
  display: inline-block;
  margin-top: 0px;
  background-color: lightgoldenrodyellow;
}

.mea-highlight .mea-annotation {
  position: absolute;
  width:100%;
  bottom: 60%;
  font-size: 0.4em !important;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 0.4em;
  color: blue;
}

.mea-highlight.hide {
  position: unset;
  display: unset;
  margin-top: unset;
  background-color: unset;
}

.mea-highlight.hide .mea-annotation {
  display: none;
}
