
.mea-highlight {
  position: relative;
  display: inline-block;
  margin-top: 2px;
  background-color: lightgoldenrodyellow;
}

.mea-highlight .mea-annotation {
  position: absolute;
  width:100%;
  left: 0;
  bottom: 80%;
  font-size: 0.5em;
  text-align: center;
  white-space: nowrap;
  color: blue;
}
