
.mea-highlight {
  position: relative;
  display: inline-block;
  margin-top: 0px;
  text-indent: 0px;
}

.mea-highlight:hover, .mea-highlight.hide:hover {
  position: relative;
  display: inline-block;
  margin-top: 0px;
  text-indent: 0px;

  .mea-annotation {
    visibility: visible;
    opacity: 1;
    background-color: white;
    
    font-size: 1em;
    border: solid 1px;
    display: table;
    z-index: 99;
    line-height: normal;
  }
}

.mea-annotation {
  position: absolute;
  width:100%;
  top: -1em;
  font-size: 0.4em !important;
  text-align: center;
  white-space: nowrap;
  color: grey;
  opacity: 30%;
  line-height: normal;
}

.mea-highlight.hide {
  position: unset;
  display: inline-block;
  margin-top: unset;
  background-color: unset;
}

.mea-highlight.hide .mea-annotation {
  display: none;
}


.mea-toolbar {
  position: absolute;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height:auto;
  background: white;
  text-align: center;
  color: black;
  z-index: 100;

}

.mea-toolbar-button {
  border: none;
  margin-right: 2px;
  padding:0px;
  padding-inline: none;
  background: white;

  
}

.mea-icon {
  width: 16px;
  height: 16px;

}