

#notes-tab {

}

#vocabulary-tab {
  text-align: center;

}

#sentence{
  font-size: large;
}


.subtitle {
  font-size: 12px;
}

code {
  font-size: 12px;
  font-family: inherit;
  background-color: rgba(254, 237, 185, 0.3);
  padding: 2px 4px;
  border-radius: 2px;
}



.button:focus {
  outline: none;
}

.button:hover {
  transform: scale(1.1);
}

.divider {
  margin: 30px auto 25px;
  width: 50px;
  border: 0.5px dashed #000;
  opacity: 0.1;
}

.toolbar {
  margin: 20px;
  * {
    margin: 5px;
  }
}


